$primary:       #357180;
$success:       #50B94A;
$progress-height: 2em;
$progress-font-size:  1.1rem;
$font-family-sans-serif: 'Open Sans', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
